* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Andale Mono", AndaleMono, monospace;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    transition: height 1s;
}

/* HEADER & FOOTER */
header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100vw;
}

/* HEADER */
header {
    position: fixed;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: .02rem;
    border-color: black;
    border-style: solid;
}

header > img {
    width: 1.4rem;
}

/* FOOTER */
footer {
    position: absolute;
    margin-top: -5rem;
}

footer > a img {
    width: 1.4rem;
}

/* NAVBAR */
.navigation {
    list-style: none;
    height: 100vh;
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

/* MAIN CONTENT*/
.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.content,
.content > img {
    max-width: 768px;
}

.content {
    margin-top: 10rem;
}

/* CONTACT INFO */
.contact_info {
    display: flex;
    justify-content: center;
}

.contact_content {
    border: solid .1rem black;
    padding: 1rem;
    width: 100vw;
    max-width: 768px;
    margin: 0 0 3rem 0;
}

/* HIDE */
.hide {
    display: none;
}

/* -TOP MARGIN */
.topMargin {
    margin-top: -10rem;
}
