* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

p {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #B8B8B8;
}

a:hover {
    transition: .5s;
    color: #FF5714;
}

/* HEADER & FOOTER */
header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* HEADER */
header {
    height: 5rem;
    position: fixed;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: .02rem;
    border-color: black;
    border-style: solid;
}

header > a img {
    width: 1.4rem;
}

/* FOOTER */
footer {
    padding: 1rem;
    position: fixed;
    flex-direction: column;
    bottom: 0rem;
    background-color: aqua;
}

.footer_content > img {
    width: 1.4rem;
}

/* NAVBAR */
.navigation {
    list-style: none;
    height: 100vh;
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

li {
    font-weight: bold;
    font-size: 1.4rem;
}

/* MAIN CONTENT*/
.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.center_container {
    flex-direction: column; 
    align-items: center;
}

.content,
.content > img,
.content > a img {
    max-width: 768px;
}

.content {
    margin-top: 5rem;
}

.content > p {
    margin: .3rem;
    font-size: 1.2rem;
}

.content:first-of-type {
    margin-top: 10rem;
}

.center_container > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.hover_text {
    position: absolute;
}

.date {
    font-weight: bold;
    font-size: 1.2rem;
}

.content .small {
    font-size: .9rem;
}

/* CONTACT INFO */
.contact_info {
    display: flex;
    justify-content: center;
}

.contact_content {
    border: solid .1rem black;
    padding: 1rem;
    width: 100vw;
    max-width: 768px;
    margin: 0;
    margin-top: .7rem;
    background-color: #F3EFE0;
}

.contact_content a {
    color: #FF5714;
}

/* HIDE */
.hide {
    display: none;
}

@media (max-width: 768px) {
    footer {
        background-color: white;
    }
}